---
title: トップページ
description:
parent: home
pages: top
---

{% extends '_default.njk' %}

{% block contents %}
<div class="hoge">
  <div class="fuga">fuga</div>
  <div class="piyo">piyo</div>
</div>
{% endblock %}